body{
    font-family: 'Bona Nova', serif;
}
#food-network{
    font-weight: 700;
    
}
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  #name-color{
      color: chocolate;
      
  }
  h1{
      font-size: 50px;
      font-weight: 700;
  }
  .top-banner{
    display: flex;
    padding-left: 5%;
    
}
#other{
    color: gray;
    padding-top: 200px;
}
#order-now{
    text-decoration: none;
    background-image: linear-gradient(aqua , blue);
    padding: 10px 40px;
    font-weight: 700;
    color: azure;
    border-radius: 5px;
}
#title-p{
    color: sandybrown;
    font-size: 20px;
   
}
.title img{
    padding-left: 300px;
   
}
.title{
    padding-top: 200px;
}
#about-us{
    color: gray;
    padding-left: 300px;
}
.middle-banner{
    display: flex;
    margin-top: 200px;
    background-image: url(images/shapes/7.png);

}
.middle img{
    max-height: 600px;
    margin-left: 300px;
}
h5{
    font-size: 40px;
    padding-left: 100px;
}
#contact-us{
    text-decoration: none;
    background-image: linear-gradient(aqua , blue);
    padding: 10px 40px;
    margin-left: 100px;
    font-weight: 700;
    color: azure;
    border-radius: 5px;
}
#my-recipes{
    color: gray;
    font-size: 20px;
}
#writing{
    color: black;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}
.fourth-part{
    display: flex;
    padding-top: 150px;
}
#first-cooking img{
    max-height: 300px;
    max-width: 300px;
}
#second-cooking img{
    max-height: 300px;
    max-width: 300px;
}
#third-cooking img{
    max-height: 300px;
    max-width: 300px;
}
#first-cooking{
    box-shadow: 5px 5px #888888;
}